<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Błedy użytkowników - MovieClub</title>
</head>
<body>
<div class="container">
  <main class="main-content" layout:fragment="content">
    <h2 class="list-heading"> Błedy użytkowników </h2>
    <table class="edit-list-table">
      <thead class="table-header">
      <tr>
        <td> Użytkownik zgłaszający </td>
        <td> ID filmu</td>
        <td> Miejsce błędu </td>
        <td> opis błędu </td>
        <td class="edit-column"> <i class="fa-solid fa-wrench"></i> </td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="error : ${errors}">
        <td th:text="${error.userName}"> Adam </td>
        <td th:text="${error.movieId}"> 3 </td>
        <td th:text="${error.errorPart}"> Opis </td>
        <td th:text="${error.content}"> W słowie kalambury jest literówka </td>
        <td class="edit-column"> <a href="#" th:href="@{|/admin/error/${error.id}|}"> <i class="fa-solid fa-wrench"></i> </a> </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
</body>
</html>